
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h2>MovReview</h2>
    <p>Logged in as: <%= user.email %> (<%= user.role %>)</p>

    <a href="/watchlist"><button type="button">My Watchlist</button></a>
    <a href="/watched"><button type="button">Movies I watched</button></a>
    <a href="/account-settings"><button type="button">Account Settings</button></a>
    <a href="/logout"><button type="button">Logout</button></a>

    <hr>
    
    <h1>Movie List</h1>

    <% if (success) { %>
        <p style="color:green;"><%= success %></p>
    <% } %>

    <form method="get" action="/home">
        <label>
            Search:
            <input type="text" name="search" value="<%= search || '' %>">
        </label>

        <label>
            Genre:
            <select name="genre">
                <option value="all">All</option>
                <% genres.forEach(g => { %>
                    <option value="<%= g %>" <%= (selectedGenre === g) ? "selected" : "" %>>
                        <%= g %>
                    </option>
                <% }) %>
            </select>
        </label>

        <button type="submit">Filter</button>

        <% if (user && user.role === "admin") { %>
        <a href="/movies/add">
            <button type="button">Add New Movie</button>
        </a>
        <% } %>
    </form>


    <% if (movies.length === 0) { %>
        <hr>
        <p>No movies found.</p>
    <% } else { %>
        <% movies.forEach(movie => { %>
            <hr>
                <a href="/movies/view?movieid=<%=movie.movieid%>"><h3><%= movie.moviename %></h3></a>

                <p><strong>Description:</strong> <%= movie.description %></p>
                <p><strong>Genre:</strong> <%= movie.genre %></p>

                <% if (user && user.role === "admin") { %>
                    <a href="/movies/edit?movieid=<%= movie.movieid %>">
                        <button>Edit</button>
                    </a>
                <% } %>
                <form method="post" action="/watchlist/add?movieid=<%= movie.movieid %>">
                    <button type="submit">Add to Watchlist</button>
                </form>
                <form method="post" action="/watched/add?movieid=<%= movie.movieid%>">
                    <button type="submit">Add to Watched</button>
                </form>
        <% }) %>
    <% } %>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('status') === 'addedwl') {
            alert("Successfully added movie to your watchlist!");
            window.history.replaceState(null, null, window.location.pathname);
        }
        if (urlParams.get('status') === 'addedw') {
            alert("Successfully added movie to your watched!");
            window.history.replaceState(null, null, window.location.pathname);
        }
    </script>
</body>
</html>
