<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Watched Movies</title>
</head>
<body>

    <h2>MovReview</h2>
    <p>Logged in as: <%= user.email %> (<%= user.role %>)</p>

    <a href="/watchlist"><button type="button">My Watchlist</button></a>
    <a href="/watched"><button type="button">Movies I watched</button></a>
    <a href="/account-settings"><button type="button">Account Settings</button></a>
    <a href="/logout"><button type="button">Logout</button></a>

    <hr>
    <h1>My Watched Movies</h1>
    
    <a href="/home">
        <button type="button">Back to Home</button>
    </a>
    
    <% if (moviesList.length === 0) { %>
        <hr>
        <p>You haven't watched any movies yet.</p>
    <% } else { %>
        <% moviesList.forEach(function(movie) { %>
            <hr>
            <a href="/movies/view?movieid=<%=movie.movieId%>"><h3><%= movie.movieName %></h3></a>
                    
            <% if (movie.rating === 0) { %>
                <p><strong>Your Rating:</strong> Not yet rated</p>
            <% } else { %>
                <p><strong>Your Rating:</strong> <%= movie.rating %> / 5 Stars</p>
            <% } %>
            <% if (movie.review) { %>
                <p><strong>Your Review:</strong> <%= movie.review %></p>
            <% } else { %>
                <p><strong>Your Review:</strong> Not yet reviewed </p>
            <% } %> 
                    
            <form action="/watched/markdelete" method="POST">
                <input type="hidden" name="movieId" value="<%= movie.movieId %>">
                <button type="submit">Mark for Removal</button>
            </form>
            <% }); %>
    <% } %>
    <hr>
    <h1>Pending Deletion</h1>
    <% if (markedDeletion.length === 0) { %>
        <hr>
        <p>You do not have any movies pending removal.</p>
    <% } else { %>
        <hr>
        <ul>
        <% markedDeletion.forEach(function(movie) { %>
            <li><%= movie.movieName %></li>
        <% }) %>
        </ul>
        <form action ="/watched/delete" method="POST">
            <button type="submit">Confirm Remove All</button>
        </form>
    <% } %>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('status') === 'deleted') {
            alert("Successfully removed movies from watched list!");
            window.history.replaceState(null, null, window.location.pathname);
        }
        if (urlParams.get('status') === 'marked') {
            alert("Successfully marked movie for removal from watched!");
            window.history.replaceState(null, null, window.location.pathname);
        }
    </script>
</body>
</html>